<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQL Lite connection

#### Install RSQLite package
The RSQlite  package needs to be installed in your notebook. Let’s load the RSQLite package by clicking on the following cell and executing it (Shift+Enter):

In [2]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

Warning message in install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", :
“installation of package ‘/tmp/RtmpT4UR4u/downloaded_packages/RSQLite_0.10.0.tar.gz’ had non-zero exit status”

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

#### Load RSQLite
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous labs to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [3]:
library("RSQLite")

In [4]:
# provide your solution here to connect db
conn <- dbConnect(drv = SQLite(), "FinalDB.sqlite")
world_cities <- read.csv(file = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv")
bike_sharing_systems <- read.csv(file ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv")
cities_weather_forecast <- read.csv(file = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv")
seoul_bike_sharing <- read.csv(file = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv")
dbWriteTable(conn, "WORLD_CITIES", world_cities, overwrite = TRUE, header = TRUE)
dbWriteTable(conn, "BIKE_SHARING_SYSTEMS", bike_sharing_systems, overwrite = TRUE, header = TRUE)
dbWriteTable(conn, "CITIES_WEATHER_FORECAST", cities_weather_forecast, overwrite = TRUE, header = TRUE)
dbWriteTable(conn, "SEOUL_BIKE_SHARING", seoul_bike_sharing, overwrite = TRUE, header = TRUE)

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [4]:
# provide your solution here
dbGetQuery(conn, "SELECT COUNT(*) FROM SEOUL_BIKE_SHARING;")

  COUNT(*)
1 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [5]:
# provide your solution here
dbGetQuery(conn, "SELECT COUNT(HOUR) FROM SEOUL_BIKE_SHARING
           WHERE RENTED_BIKE_COUNT NOT LIKE(0);")

  COUNT(HOUR)
1 8465

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [6]:
# provide your solution here
dbGetQuery(conn, "SELECT WEATHER FROM CITIES_WEATHER_FORECAST
           LIMIT 1;")

  WEATHER
1 Clear

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [7]:
# provide your solution here
dbGetQuery(conn, "SELECT DISTINCT SEASONS FROM SEOUL_BIKE_SHARING;")

  SEASONS
1 Winter
2 Spring
3 Summer
4 Autumn

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [8]:
# provide your solution here
dbGetQuery(conn, "SELECT DATE AS earliest_date FROM SEOUL_BIKE_SHARING LIMIT 1;")
dbGetQuery(conn, "SELECT DATE AS latest_date FROM SEOUL_BIKE_SHARING 
           ORDER BY ROWID
           DESC LIMIT 1;")

  earliest_date
1 01/12/2017

  latest_date
1 30/11/2018

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [9]:
# provide your solution here
dbGetQuery(conn, "SELECT HOUR, DATE, RENTED_BIKE_COUNT
                 FROM SEOUL_BIKE_SHARING
                 WHERE RENTED_BIKE_COUNT = (
                 SELECT MAX(RENTED_BIKE_COUNT)
                 FROM SEOUL_BIKE_SHARING)
                 ORDER BY DATE;")

  HOUR DATE       RENTED_BIKE_COUNT
1 18   19/06/2018 3556

##

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [25]:
# provide your solution here
dbGetQuery(conn, "SELECT AVG(TEMPERATURE), AVG(RENTED_BIKE_COUNT), HOUR, SEASONS FROM SEOUL_BIKE_SHARING
           GROUP BY SEASONS, HOUR
           ORDER BY AVG(RENTED_BIKE_COUNT) DESC LIMIT 10;")

   AVG(TEMPERATURE) AVG(RENTED_BIKE_COUNT) HOUR SEASONS
1  29.38791         2135.141               18   Summer
2  16.03185         1983.333               18   Autumn
3  28.27378         1889.250               19   Summer
4  27.06630         1801.924               20   Summer
5  26.27826         1754.065               21   Summer
6  15.97222         1689.311               18   Spring
7  25.69891         1567.870               22   Summer
8  17.27778         1562.877               17   Autumn
9  30.07691         1526.293               17   Summer
10 15.06346         1515.568               19   Autumn

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [6]:
# provide your solution here
dbGetQuery(conn, "SELECT SEASONS, AVG(RENTED_BIKE_COUNT), MIN(RENTED_BIKE_COUNT), MAX(RENTED_BIKE_COUNT), 
           SQRT(AVG(RENTED_BIKE_COUNT*RENTED_BIKE_COUNT) - AVG(RENTED_BIKE_COUNT)*AVG(RENTED_BIKE_COUNT)) AS STN_DIV_RENTED_BIKE_COUNT
           FROM SEOUL_BIKE_SHARING
           GROUP BY SEASONS;")

  SEASONS AVG(RENTED_BIKE_COUNT) MIN(RENTED_BIKE_COUNT) MAX(RENTED_BIKE_COUNT)
1 Autumn   924.1105              2                      3298
2 Spring   746.2542              2                      3251
3 Summer  1034.0734              9                      3556
4 Winter   225.5412              3                       937
  STN_DIV_RENTED_BIKE_COUNT
1 617.3885
2 618.5247
3 690.0884
4 150.3374

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [7]:
# provide your solution here
dbGetQuery(conn, "SELECT SEASONS, AVG(RENTED_BIKE_COUNT), AVG(TEMPERATURE), AVG(HUMIDITY), AVG(WIND_SPEED), AVG(VISIBILITY), 
           AVG(DEW_POINT_TEMPERATURE), AVG(SOLAR_RADIATION), AVG(RAINFALL), AVG(SNOWFALL)
           FROM SEOUL_BIKE_SHARING
           GROUP BY SEASONS
           ORDER BY AVG(RENTED_BIKE_COUNT);")

  SEASONS AVG(RENTED_BIKE_COUNT) AVG(TEMPERATURE) AVG(HUMIDITY) AVG(WIND_SPEED)
1 Winter   225.5412              -2.540463        49.74491      1.922685
2 Spring   746.2542              13.021685        58.75833      1.857778
3 Autumn   924.1105              13.821580        59.04491      1.492101
4 Summer  1034.0734              26.587711        64.98143      1.609420
  AVG(VISIBILITY) AVG(DEW_POINT_TEMPERATURE) AVG(SOLAR_RADIATION) AVG(RAINFALL)
1 1445.987        -12.416667                 0.2981806            0.03282407
2 1240.912          4.091389                 0.6803009            0.18694444
3 1558.174          5.150594                 0.5227827            0.11765617
4 1501.745         18.750136                 0.7612545            0.25348732
  AVG(SNOWFALL)
1 0.24750000
2 0.00000000
3 0.06350026
4 0.00000000

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [56]:
# provide your solution here
dbGetQuery(conn, "SELECT W.CITY, B.BICYCLES, W.COUNTRY, W.LAT, W.LNG, W.POPULATION
           FROM WORLD_CITIES AS W, BIKE_SHARING_SYSTEMS AS B
           WHERE W.CITY = B.CITY AND W.CITY = 'Seoul';")

  CITY  BICYCLES COUNTRY      LAT     LNG POPULATION
1 Seoul 20000    Korea, South 37.5833 127 21794000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [57]:
# provide your solution here
dbGetQuery(conn, "SELECT W.COUNTRY, W.CITY, B.BICYCLES, W.LAT, W.LNG, W.POPULATION
           FROM WORLD_CITIES AS W, BIKE_SHARING_SYSTEMS AS B
           WHERE W.CITY = B.CITY AND B.BICYCLES > 15000 AND B.BICYCLES < 20000;")

  COUNTRY CITY     BICYCLES LAT     LNG      POPULATION
1 China   Beijing  16000    39.9050 116.3914 19433000
2 China   Shanghai 19165    31.1667 121.4667 22120000

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

<!--## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |-->

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>